.btn_page, .selected{
    margin: 1px;
    flex: 1 1 auto;
    border-radius: 5px;
    padding: 5px 10px;
    transition: ease-in 0.3s;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.btn_page:hover{
    background: rgba(72, 198, 220, 0.44);
}

.disabled{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.21);
}

.disabled:hover{
    background: rgb(247, 249, 250);
    cursor: auto;
}

.selected{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.64);;
    background: rgba(72, 198, 220, 0.75);
}
